Repository KravchaDev/learn-this-damn-thing, pull requests merged in 2022-04, with the labels that each got.

#5 films/it-topics/serial.md --> Mister Robot
  films/it topics/serial.md
Labels: film/serial

#7 pull request :: films, telegram
  films/it topics/serial.md
  telegram-chanell-list/README.md
Labels: telegram-list, film/serial

#8 (feat) add binary search in typescript
  codebase/typescript/бинарный поиск/binary-search.ts
Labels: codebase
